.r_malo {
    color:red;
  }
  .r_regular {
    color: yellow;
  }
  .r_bueno {
    color: blue;

  }
  .r_master {
    color: green;
  }

  .cajacss h2{
      text-align: center;
  }

  .cajacss .equipoa{
      float: left;
      padding-left: 500px;
  }
  .cajacss .equipob{
    float: left;
    padding-left: 500px;
}